<!DOCTYPE html>
<html ng-app>
<head>
    <title>Chapter Six - A Simple Recipe Book</title>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-cloak>

  <div recipe-book>
    <div ng-if="!ctrl.recipesLoaded || !ctrl.categoriesLoaded">
      {{ctrl.message}}
    </div>
    <div ng-if="ctrl.recipesLoaded && ctrl.categoriesLoaded">
      <h3>Recipe List</h3>

      <nav id="controls">
        <search-recipe 
            name-filter-string="ctrl.nameFilter"
            category-filter-map="ctrl.categoryFilterMap">
        </search-recipe>

        <a href="#/add"><input type="button" value="Add Recipe"></a><br/>
      </nav>
      
      <nav id="search-results">
        <div id="recipe-list">
          <ul>
            <li ng-repeat="recipe in ctrl.allRecipes | orderBy:'name' | filter:{name:ctrl.nameFilter} | categoryfilter:ctrl.categoryFilterMap">
              <span tooltip="ctrl.tooltipForRecipe(recipe)">
                <rating max-rating="5" rating="recipe.rating"></rating>
                <a class="extra-space" href="#/recipe/{{recipe.id}}/view">{{recipe.name}}</a>
              </span>
            </li>
          </ul>
        </div>      
      </nav>
  
      <section id="details">
        <ng-view></ng-view>
      </section>
      
    </div>

  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>
