[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#header {
}

#controls {
}

#search-results {
  border: 0px solid red;
}

#details {
  border: 0px solid black;
}

.extra-space {
  padding-left: 10px;
}
